.authorization{
    padding-top: 50px;
    @media (max-width:1400px){
        padding-top: 30px;
    }
    
    h1{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__login-type{
        display: flex;
        width: 100%;
        justify-content: center;
        gap:10px;
        margin: 25px 0;
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input{
        margin-bottom: 10px;
    }
    &__password,&__login{
        position: relative;
        width: 100%;
        span{
            position: absolute;
            top: 14px;
            left: 0;
            padding: 0 20px;
        }
        & &--eye{
            left:auto;
            right: 0;
            cursor: pointer;
        }
    }
    p{
        text-align: center;
        color: $primary;
        font-weight: 500;
        line-height: 20px;
    }
    .restore__file{
        position: relative;
        p{
           position: absolute;
           text-align: center;
            width: 100%;
            background-color: white;
            height: 52px;
            border-radius: 5px;
            gap: 20px;
            color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
        } 
    }
}
